h1{
font-family: sans-serif; color: ghostwhite; font-size: 60px; 
}
h2{
font-family: monospace; text-align: left; 
}
h3{
font-family: monospace; color: darkgrey; font-size: 30px; text-align: left
}
